body {
  background-color: $body-color;
  font-family: "Helvetica 55 Roman", Arial, sans-serif;
  .loading-screen {
    @include flex();
    @include fixed(0, 0, 0, 0);
    @include size(99vw, 100vh);
    @include overflow(hidden, hidden);
    background-color: $white;
    z-index: 999;
    i {
      @include font(56px, 400, #c7c7c7);
    }
  }
}
.no-scroll {
  @include overflow(auto, hidden);
}
