.direct-send-to-modals {
  .otions {
    z-index: 2;
    width: 400px;
    min-height: 590px;
    background-color: #fff;
    border-radius: 12px;
    font-size: 14px;
    .otions-header {
      height: 40px;
      border-bottom: 1px solid rgb(219, 219, 219);
      display: flex;
      justify-content: space-between;
      align-items: center;
      div {
        min-width: 50px;
        &:nth-child(2) {
          font-size: 16px;
          font-weight: 600;
          text-align: center;
        }
      }
      button {
        padding: 0 16px;
      }
      .otions-header-next {
        @include font(14px, 600, $blue);
        cursor: pointer;
      }
    }
    .otions-search {
      border-bottom: 1px solid rgb(219, 219, 219);
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: start;
      span {
        padding: 0 12px;
        font-size: 16px;
        font-weight: 600;
      }
      input {
        outline: 0;
        border: 0;
        width: 100%;
        padding-right: 12px;
      }
    }
    .otions-Suggested {
      height: 492px;
      overflow-y: scroll;
      padding: 8px 16px 0 16px;
      span {
        font-weight: 600;
      }
      .Suggested-followers {
        padding: 8px 0;
        label {
          position: relative;
          width: 100%;
          height: 60px;
          display: flex;

          align-items: center;
          img {
            width: 44px;
            height: 44px;
            border-radius: 100%;
          }
          div {
            padding-left: 8px;
            font-size: 14px;
            span {
              font-weight: 600;
            }
            p {
              color: #8e8e8e;
              margin: 0;
            }
          }
          input {
            border-radius: 100%;
            width: 24px;
            height: 24px;
            position: absolute;
            right: 0;
          }
        }
      }
    }
  }
}
.delete-chat-modal {
  .otions {
    @include size(400px, auto);
    @include font(14px, 400, $black);
    background-color: $white;
    z-index: 2;
    border-radius: 12px;
    .otions-body {
      @include size(100%, 125px);
      padding: 28px 16px;
      h3 {
        @include font(18px, 600, $black);
        text-align: center;
      }
      p {
        @include font(14px, 400, #8e8e8e);
        padding-top: 8px;
        text-align: center;
      }
    }
    .otions-footer {
      @include flex(center, center);
      flex-direction: column;
      button {
        @include font(14px, 400, $black);
        @include size(100%, 48px);
        border-top: $main-border;
        padding: 4px 8px;
        &:first-child {
          @include font(14px, 600, $red);
        }
      }
    }
  }
}
.block-chat-modal {
  .otions {
    @include size(400px, auto);
    @include font(14px, 400, $black);
    background-color: $white;
    z-index: 2;
    border-radius: 12px;
    .otions-body {
      @include size(100%, 125px);
      padding: 18px 16px;
      h3 {
        @include font(18px, 600, $black);
        text-align: center;
      }
      p {
        @include font(14px, 400, #8e8e8e);
        padding-top: 8px;
        text-align: center;
      }
    }
    .otions-footer {
      @include flex(center, center);
      flex-direction: column;
      button {
        @include font(14px, 400, $black);
        @include size(100%, 48px);
        border-top: $main-border;
        padding: 4px 8px;
        &:first-child {
          @include font(14px, 600, $red);
        }
      }
    }
  }
}
.report-chat-modal {
  .otions {
    @include size(550px, 365px);
    @include font(14px, 400, $black);
    background-color: $white;
    z-index: 2;
    border-radius: 12px;
    .otions-header {
      @include flex(space-between, center);
      border-bottom: $main-border;
      height: 40px;
      div {
        min-width: 50px;
        &:nth-child(2) {
          @include font(16px, 600, $black);
        }
      }
      button {
        padding: 0 16px;
      }
    }
    .otions-body {
      @include size(100%, auto);
      padding: 16px 16px 0 16px;
      p {
        @include font(14px, 400, #8e8e8e);
        padding: 16px 0;
        strong {
          @include font(14px, 600, $black);
        }
      }
    }
    .otions-footer {
      padding: 0 16px 16px 16px;
      button {
        position: relative;
        @include flex(start, center);
        @include font(16px, 400, $black);
        @include size(100%, 44px);
        &:hover {
          background-color: #efefef;
        }
        i {
          @include absolute(auto, 8px, auto, auto);
          color: #8e8e8e;
        }
      }
    }
  }
}
