main {
  .wrapper {
    .main-section {
      width: 100%;
      min-height: 500px;
      display: none;
    }
    #home {
      display: block;
      .home-inner {
        .followers-post {
          .followers-post-inner {
            max-width: 602px;
            background-color: blue;
            float: left;
            margin-top: 80px;
            width: 100%;
          }
        }
        .suggestions-for-you {
          .suggestions-for-you-inner {
            height: 100vh;
            width: 293px;
            position: fixed;
            top: 80px;
            left: 58%;

            .switch-account {
              position: relative;
              margin: 18px 0 10px 0;
              width: 100%;
              display: flex;
              flex-direction: row;
              align-items: center;
              .switch-account-img {
                margin-right: 12px;
                a {
                  img {
                    width: 56px;
                    height: 56px;
                    border-radius: 100%;
                  }
                }
              }
              .switch-account-text {
                a {
                  text-decoration: none;
                  h6 {
                    margin: 0;
                    font-weight: 600;
                    font-size: 14px;
                  }
                }
                p {
                  margin: 0;
                  font-size: 14px;
                  color: #909090;
                }
              }
              .switch-account-switch {
                margin-left: 8px;
                display: flex;
                align-items: center;
                a {
                  color: #0095f6;
                  text-decoration: none;
                  font-weight: 600;
                  font-size: 12px;
                  position: absolute;
                  right: 0;
                }
              }
            }
            .suggestions-for-you-list {
              .suggestions-for-you-list-title {
                padding: 5px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                h5 {
                  font-size: 14px;
                  font-weight: 600;
                  color: #909090;
                  margin: 0;
                }
                a {
                  font-size: 12px;
                  font-weight: 600;
                  text-decoration: none;
                  color: $black-text;
                }
              }
              .suggestions-for-you-list-container {
                .suggestions-for-you-list-items {
                  position: relative;
                  padding: 8px 16px;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  .suggestions-for-you-list-items-img {
                    margin-right: 6px;
                    a {
                      img {
                        width: 32px;
                        height: 32px;
                        border-radius: 100%;
                      }
                    }
                  }
                  .suggestions-for-you-list-items-title {
                    a {
                      margin: 0;
                      font-size: 14px;
                      font-weight: 600;
                      text-decoration: none;
                      color: $black-text;
                      position: relative;
                      &:hover::before {
                        content: "";
                        width: 100%;
                        height: 1px;
                        background-color: #262626;
                        position: absolute;
                        left: 0;
                        top: 15px;
                      }
                    }
                    p {
                      margin: 0;
                      font-size: 12px;
                      color: #909090;
                    }
                  }
                  .suggestions-for-you-list-items-follow {
                    margin-left: 8px;
                    display: flex;
                    align-items: center;
                    a {
                      color: #0095f6;
                      text-decoration: none;
                      font-weight: 600;
                      font-size: 12px;
                      position: absolute;
                      right: 0;
                    }
                  }
                }
                .suggestions-for-you-list-dropdown {
                  z-index: 3;
                  display: none;
                  width: 390px;
                  height: 354px;
                  background-color: #fff;
                  position: absolute;
                  left: 8px;
                  top: 60px;
                  border-radius: 15px;
                  border: 1px solid #dbdbdb;
                  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
                  .suggestions-for-you-list-dropdown-img {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 16px;
                    &:first-child {
                      img {
                        margin-right: 12px;
                        height: 56px;
                        width: 56px;
                        border-radius: 100%;
                      }
                    }
                    div {
                      a {
                        margin: 0;
                        font-size: 14px;
                        font-weight: 600;
                        text-decoration: none;
                        color: $black-text;
                      }
                      p {
                        margin: 0;
                        font-size: 14px;
                        color: #909090;
                      }
                    }
                  }
                  .suggestions-for-you-list-dropdown-followers {
                    border: 1px solid #dbdbdb;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    height: 68px;
                    font-weight: 600;
                    font-size: 14px;
                    position: relative;
                    text-align: center;
                    p {
                      margin: 0;
                      font-size: 14px;
                    }
                    div {
                      :last-child {
                        color: #909090;
                        font-weight: 400;
                      }
                    }
                  }
                  .suggestions-for-you-list-dropdown-posts {
                    display: flex;
                    flex-direction: row;
                    a {
                      width: 130px;
                      height: 130px;
                      img {
                        width: 100%;
                        height: 100%;
                        &:hover {
                          filter: brightness(0.8);
                        }
                      }
                    }
                  }
                  .suggestions-for-you-list-dropdown-follow-buttom {
                    padding: 16px;
                    button {
                      background-color: #0095f6;
                      color: #fff;
                      border: 0;
                      outline: 0;
                      width: 100%;
                      border-radius: 5px;
                      font-weight: 600;
                    }
                  }
                }
              }
            }
            .suggestions-for-you-links {
              margin-top: 12px;
              font-size: 11px;
              font-weight: 400;

              text-transform: none;
              ul {
                margin: 0 0 16px 0;
                padding: 0;
                list-style: none;
                li {
                  display: inline-block;
                  margin: 0;
                  padding: 0;
                  a {
                    color: #c7c7c7;
                    text-decoration: none;
                    line-height: 13px;

                    &::after {
                      content: "   .   ";
                      vertical-align: 3px;
                    }
                  }
                }
              }
              p {
                text-transform: uppercase;
                color: #c7c7c7;
              }
            }
          }
        }
      }
    }
    #direct {
      background-color: red;
    }
    #post {
      background-color: blue;
    }
    #find {
      background-color: aquamarine;
    }
    #activity {
      background-color: yellow;
    }
    #user {
      background-color: brown;
    }
  }
}
