nav {
  @include fixed(0, 0, auto, 0);
  z-index: 10;
  background-color: $white;
  border-bottom: $main-border;
  .container-fluid {
    .nav-wrapper {
      @include flex(space-between, center);
      @include size(auto, 53px);
      .nav-instagram-text-icon {
        @include size(103px, 29px);
        margin: 7px 0 0 0;
        img {
          @include size(103px, 29px);
        }
      }
      .nav-search-dropdown-section-background {
        @include absolute(0, 0, 0, 0);
        @include size(100vw, 100vh);
        background-color: transparent;
        display: none;
      }
      .nav-search-bar {
        position: relative;
        label {
          @include absolute(3.5px, auto, auto, 12px);
          @include flex(unset, center);
          @include font(14px, 400, #8e8e8e);
          background-color: $body-color;
          cursor: text;
          i {
            @include font(10px, 0, #8e8e8e);
            margin: 0 5px 0 0;
          }
        }
        input {
          @include font(14px, 400, $black);
          @include size(215px, 28px);
          border: $main-border;
          background-color: $body-color;
          border-radius: 3px;
          padding: 3px 12px;
        }
        .close {
          @include absolute(50%, 7px, auto, auto);
          @include flex(center, center);
          @include size(14px, 14px);
          transform: translateY(-50%);
          background-color: #c7c7c7;
          border-radius: 100%;

          i {
            @include font(10px, 0, $white);
          }
        }
        .nav-search-dropdown-section {
          display: none;
          .nav-search-dropdown-section-background {
            @include absolute(0, 0, 0, 0);
            @include size(100vw, 100vh);
          }
          .nav-search-dropdown-triangle,
          .nav-search-dropdown-triangle2 {
            @include size(16px, 16px);
            @include absolute(auto, auto, auto, 50%);
            box-shadow: $box-shadow;
            background-color: $white;
            margin: 10px 0 0 0;
            transform: rotate(45deg) translate(-50%, 0);
          }
          .nav-search-dropdown-triangle2 {
            z-index: 6;
            box-shadow: none;
          }
          .nav-search-dropdown {
            @include absolute(auto, auto, auto, 50%);
            @include flex(unset, unset);
            @include overflow(hidden, scroll);
            @include size(375px, 362px);
            box-shadow: $box-shadow;
            background-color: $white;
            flex-direction: column;
            z-index: 5;
            margin: 10px 0 0 0;
            padding: 0;
            border-radius: 6px;
            transform: translate(-50%, 0);
            .nav-search-dropdown-title {
              @include flex(space-between, center);
              padding: 15px 17px;
              :nth-child(2) {
                color: $blue;
                cursor: pointer;
              }
              span {
                @include font(16px, 600, $black);
                position: relative;
                line-height: 24px;
              }
            }
            .nav-search-dropdown-items {
              @include flex(unset, center);
              @include size(100%, auto);
              flex-direction: row;
              position: relative;
              padding: 5px 15px;
              &:hover {
                background-color: $body-color;
                cursor: pointer;
              }
              img {
                @include size(44px, 44px);
                border-radius: 50%;
              }
              .nav-search-dropdown-items-title {
                color: $black;
                margin: 0 14px;
                h6 {
                  @include flex(unset, center);
                  @include font(14px, 600, $black);
                  margin: 0;
                  img {
                    @include size(12px, 12px);
                    margin: 0 0 0 5px;
                  }
                }
                p {
                  @include font(14px, 400, #8e8e8e);
                  margin: 0;
                }
              }
              .fa-xmark {
                @include absolute(auto, 25px, auto, auto);
                @include font(18px, 0, #8e8e8e);
                padding: 10px;
                cursor: pointer;
              }
            }
          }
        }
      }
      .nav-icons-bar {
        @include flex(center, center);
        flex-direction: row;
        .nav-icon {
          margin: 11px;
        }
        .nav-user {
          img {
            @include size(22px, 22px);
            border-radius: 50%;
          }
        }
      }
    }
  }
}
